[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Steventhetrumble
[access "refs/for/refs/*"]
	read = group user/Steventhetrumble
	push = group user/Steventhetrumble
	label-Code-Review = -2..+2 group user/Steventhetrumble
	label-Verified = -1..+1 group user/Steventhetrumble
	rebase = group user/Steventhetrumble
	removeReviewer = group user/Steventhetrumble
	submit = group user/Steventhetrumble
[access "refs/heads/*"]
	read = group user/Steventhetrumble
	create = group user/Steventhetrumble
	push = +force group user/Steventhetrumble
	pushMerge = group user/Steventhetrumble
[access "refs/tags/*"]
	push = group user/Steventhetrumble
	push = +force group user/Steventhetrumble
